<link rel="stylesheet" href="/asset/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta content="#FFFFFF" name="theme-color" />
<meta content="#FFFFFF" name="msapplication-navbutton-color" />
<meta content="#FFFFFF" name="apple-mobile-web-app-status-bar-style" />
<meta name="mobile-web-app-capable" content="yes">
<meta content="yes" name="apple-mobile-web-app-capable" />
<link rel="icon" type="image/png" href="https://jxheum.site/icon.png" />
<link rel="shortcut icon" type="image/x-icon" href="https://www.jxheum.site/icon.ico" />
<link rel="manifest" href="manifest.json" />