<link rel="stylesheet" href="/asset/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta content="#FFFFFF" name="theme-color" media="(prefers-color-scheme: light)"/>
<meta content="#FFFFFF" name="msapplication-navbutton-color" media="(prefers-color-scheme: light)" />
<meta content="#FFFFFF" name="apple-mobile-web-app-status-bar-style" media="(prefers-color-scheme: light)" />
<meta content="#000000" name="theme-color" media="(prefers-color-scheme: dark)"/>
<meta content="#000000" name="msapplication-navbutton-color" media="(prefers-color-scheme: dark)" />
<meta content="#000000" name="apple-mobile-web-app-status-bar-style" media="(prefers-color-scheme:dark)" />
<meta name="mobile-web-app-capable" content="yes">
<meta content="yes" name="apple-mobile-web-app-capable" />
<link rel="icon" type="image/png" href="https://jxheum.site/icon.png" />
<link rel="shortcut icon" type="image/x-icon" href="https://www.jxheum.site/icon.ico" />
<link rel="manifest" href="manifest.json" />
<title>Jiheum Pwa Style App</title>