@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    font-family: 'San Francisco', "SF Pro Text", 'Pretendard Variable',"Helvetica Neue","Helvetica","Arial",sans-serif;
}
body, html {width:100%;margin:0;}
.title {text-align: center;line-height: 22px;font-size: 17px;margin-top: 11px;margin-bottom: 11px;font-weight:600;}
.topbar {width:100%;position:fixed;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(10px);z-index: 99999;}
.shareicon {position:fixed;top:11px;right:16px;font-size:17px;color:#007aff;
    cursor:pointer;}
.searchbox {margin-top:1px;width:calc(100vw - 32px);margin-left:16px;background:rgba(120, 120, 128, 0.12);border-radius: 10px;height:36px;margin-bottom: 15px;}
.searchicon, .searchinput {display:inline-block;}
.searchicon {margin-top: 9px;margin-left: 8px;font-size:17px;line-height: 22px;color:#848488;float:left;margin-right:5px;}
.searchinput {background:none;border:none;height:100%;margin:0px;width:calc(100% - 32.65px);color:black;font-size:17px;line-height: 22px;}
.searchinput::placeholder {color:#848488;}
.card {
    border-radius: 50px;
    width:calc(100% - 32px);
    margin-left:16px;
    height:261px;
}
.card1 {
    background: url(/asset/jiheum.png);
    background-size: cover;
}


.card2 {
    background: url(/asset/youngilms.png);
    background-size: cover;
    margin-top: 10px;
}
.vincard {
    height:181px;
}
.bottominfo {
    width: calc(100% - 10px);
    height: 70px;
    padding-left: 10px;
    padding-top: 10px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.apptitle {
    font-weight: 600;font-size: 17px;line-height: 22px;vertical-align: 25px;
    margin-left: 8px;
}

button {
    width: auto;
    padding-top: 4px;
    border-radius: 40px;
    background: #007aff;
    height: 28px;
    font-weight: 400;
    color: white;
    font-size: 15px;
    line-height: 20px;
    border: none;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    display: inline-block;
    position:absolute;
    margin-top: 16px;
    right: 10px;
    cursor:pointer;
}
.btnicon {
    padding-right: 5px;
}
.bottombar {
    width: 100%;
    height: 83px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(10px);
}
.bottommenus {
    width:100%;
    height:40px;
    color:#999999;
    margin-top: 7px;
}
.menuicons {
    display:inline-block;
    text-align: center;
    width:calc(20% - 4px);
    font-weight: 600;
    font-size: 10px;
    cursor:pointer;
}
.menuicons span {
    font-size: 18px;
}